<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>
    {{>navbar}}
    <div class="container" id="maindiv">
        <div class="col-12 col-md-10 mx-auto">
            <div class="text-center">
                <img src="images/err404.jpg" alt="NotFound" id="img404">
                <hr style="margin: 20px auto;">
            </div>
            <div class="text-center">
                <a href="/">
                    <button type="button" class="btn btn-danger">Go Back</button>
                </a>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>