<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>
    {{>navbar}}
    <div class="container" id="maindiv">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="row">
                    <div class="col-12 col-md-6 " id="headerLeft">
                        <figure>
                            <img src="images/raspreet.jpg" alt="NotFound" class="img-fluid" title="Raspreet Singh">
                        </figure>
                    </div>
                    <div class="col-12 col-md-6 align-items-center" id="headerRight">
                        <p>Welcome to Weather App</p>
                        <h4>I am A <span style="color: blue;"> Mern Stack Developer</span>. </h4>
                        <button type="button" class="btn btn-danger" id="aboutme">ABOUT Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}

    <script src="js/main2.js"></script>
</body>

</html>