<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>
    {{>navbar}}
    <div class="container" id="maindiv">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <div class="row">
                    <div class="col-12 col-md-6 " id="headerLeft">
                        <p>Welcome to Weather App</p>
                        <h4>Get The Latest <span style="color: blue;"> Weather </span> Information of your city</h4>
                        <a href="/weather"><button type="button" class="btn btn-danger">Check Now</button></a>
                    </div>
                    <div class="col-12 col-md-6  align-items-center" id="headerRight">
                        <img src="images/front.png" alt="NotFound" id="weatherpic">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>