<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>
    {{>navbar}}
    <div class="container " id="maindiv">
        <div class="row">
            <div class="main_city_content">
                <form class="city_form">
                    <input type="text" id="cityname" placeholder="Enter the city name" autocomplete="off">
                    <input type="submit" id="submitbtn" value="search">
                </form>
            </div>
            <div class="container con">
                <div class="wave" id="one"></div>
                <div class="wave" id="two"></div>
                <div id="weathericon"></div>
                <div class="info">
                    <h2 id="location"></h2>
                    <p id="date"></p>
                    <h1 id="temp"></h1>
                    <p id="minmaxtemp"></p>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}


    <script src="js/main.js"></script>
</body>

</html>